.choresText {
   color: red;
   font-family: 'Courier New', Courier, monospace;
   font-size: x-large;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   color: black;
   text-decoration: underline;
   text-align: left;
}